.banner{
    height: 75vh;
    width:100%;
    position: relative;
    font-size: 1rem;
    color: var(--main-text-color);
    .bold {
        font-weight: 700;
    }
    .image {
        height: 100%;
        background-image: url("../assets/app/fondo-imagen-2.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;  
        
    }
    .content {
        /*
        position: absolute;
        bottom: 0;
        z-index: 1;*/
        text-align: center;
        font-family:fantasy;
        max-width: 600px;
        margin: 0 auto;

    }
}
@media screen and (width > 850px){
    .banner{
        .image {
        background-image: url("../assets/app/fondo-imagen.jpg");
        }
        .image {
            max-width: 100%;
        }
    }
}




