:root {
    --bg-color:#0e0c0c;
    --main-brand-color:#d9252b;
    --main-brand-color-light:#e44c54;
    --secondary-brand-color:#0e1b4f;
    --main-text-color: #d7d5d5;
    --border-color:#4b5563;
    font-family:Arial, Helvetica,sans-serif;
}
.main-bd {
    
    color: var(--main-text-color);
    background-color:var(--bg-color);
    opacity: 1;
}
ul {
    list-style: none;
    padding: 0;
}
