
.btn{
    color: var(--bg-color);
    background-color:var(--border-color) ;
    text-decoration: none;
    padding: 0.5rem;
    display:inline-block; 
    border-radius: 5px;
    margin: 0 auto;
    border: 1px solid var(--border-color);
    transition: linear;

    &.secondary {
        background-color: transparent;
        color: var(--main-text-color);
        border: 1px solid var(--border-color);
    }
}


.form_element{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    label {
        margin-bottom: 0.8rem;
        margin: 0;
        display: flex;
        justify-content: flex-start;
    }
    .input{
        background:var(--border-color);
        padding: 0.5rem;
        border-radius: 10px;
        border: none;
    }
    .checkbox {
        margin: 0 ;
        display: flex;
        margin-inline: 3px;
        gap: 5px;
    }
}


