.footer {

    position: relative;
    width: 100%;
    max-width: 1900px;
    background: rgb(49, 49, 59);
    min-height: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    font-family: sans-serif;
    li{
        display: inline-block;
    }
}
/*
*{
    margin: 0 auto;
}
*/
.img {
    width: 20px;
    margin: 10px 20px;
    border-radius: 5px;
    
}

