.footer {

    position: relative;
    width: 100%;
    max-width: 1300px;
    background: rgb(49, 49, 59);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    font-family: sans-serif;
    li {
        display: inline-block;
    }
}
.img {
    width: 20px;
    margin: 5px 30px;
    border-radius: 8px;
    
}

@media (width > 1000px){
    .footer{
        flex-direction: row;
        max-width: none;
        font-size: 35px;
    }
}

