.header {
    /*position: sticky;*/
    /* top: 0;*/
    /*z-index: 99;*/
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 850px;
    align-items: center;
    padding: 0.8rem;
    .img2 {
        width: 5%;;
        min-width: 60px;
        max-width: 250px;
        border-radius: 30px;
        margin: 0 1em;
    }
    .nav {
        .list{
            list-style: none;
            padding: 0;
            margin:0;
            display: flex;
            gap: 5px;
        }
    }
}
.parafo {
    max-width: 800px;
    margin: 0.5rem auto;
    padding: 0 0.5rem;
}
.hidden{
    display: none;
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
}
@media (width > 1400px){
    .header {
        max-width: none;
        padding: 6rem;
    }
}

