.header {
    /*position: sticky;*/
    /* top: 0;*/
    /*z-index: 99;*/
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    .img2 {
        width: 5%;;
        min-width: 60px;
        max-width: 250px;
        border-radius: 30px;
        margin: 0 1em;
    }
    .nav {
        .list{
            list-style: none;
            padding: 0;
            margin:0;
            display: flex;
            gap: 5px;
        }
    }
}
.parafo {
    max-width: 800px;
    margin: 0.5rem auto;
    padding: 0 0.5rem;
}
.hidden{
    display: none;
}


@media screen and (width > 700px){
    .hidden {
        display: block;
    }
    .header {
        .nav {
            span{
                display:none;
            }
        }
    }
}

