.wrapper{
    width: auto;
    height: 200px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap: 5px;
    margin: 10px auto;
    max-width: 850px;
}
.progress-bar{
    background: var(--border-color);
    width: 95%;
    height: 30px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid var(--main-text-color);
    padding: 0.3em;
    margin-bottom: 10px;
    position: relative;

}
.progress{
    height: 100%;
    background-color: rgb(24, 24, 27);
    border-radius: 50px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-weight: bold;
    animation:animate 5s linear forwards;
}

@keyframes animate{
        0% {width: 0;
        } 
        100%{width: 80%;}
        
}



