.wrapper{
    width:95%;
    height: 325px;
    margin: 0 auto;
    max-width: 375px;
    padding: 0.5rem;
}
.progress-bar{
    background: var(--border-color);
    width: 100%;
    height: 30px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid var(--main-text-color);
    padding: 0.3em;
    margin-bottom: 10px;
    position: relative;

}
.progress{
    height: 100%;
    background-color: rgb(24, 24, 27);
    border-radius: 50px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-weight: bold;

    animation:progress 5s linear forwards;
}

@media (width > 850px){
    .wrapper{
        flex-wrap: wrap;
        max-width: 650px;
    }
}
    
    #progress-40 {
        animation: progress40 5s linear forwards;
    }
    @keyframes progress40 {
        0% { width: 0; }
        100% { width: 70%; }
        }


    #progress-15 {
        animation: progress15 5s linear forwards;
    }
        
    @keyframes progress15 {
        0% { width: 0; }
        100% { width: 45%; }
    }
    
    #progress-25 {
        animation: progress25 5s linear forwards;
    }
        
    @keyframes progress25 {
        0% { width: 0; }
        100% { width: 55%; }
    }
    
    #progress1-10 {
        animation: progress10 5s linear forwards;
    }
        
    @keyframes progress10 {
        0% { width: 0; }
        100% { width: 40%; }
    }
    
    #progress2-10 {
        animation: progress10 5s linear forwards;
    }
        
    @keyframes progress10 {
        0% { width: 0; }
        100% { width: 40%; }
    }
    #progress20 {
        animation: progress20 5s linear forwards;
    }
        
    @keyframes progress20 {
        0% { width: 0; }
        100% { width: 50%; }
    }
    